.slider__container {
  position: relative;
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}

/* con 0px se ve 1px de la imagen siguiente ???*/
.slider__gap--0 {
  gap: 0; 
}

.slider__gap {
  gap: 0.5rem;
}

.slider__slide {
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 351px;
  transition: all 0.5s;
  box-sizing: border-box;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slider__btn {
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.25s;

  &.slider__btn--next {
    right: 0.8rem;
    z-index: 1;
  }

  &.slider__btn--prev {
    z-index: 1;
    left: 0.8rem;
  }

  &:hover,
  &:active {
    transform: scale(1.1);
  }
}