.slider__container {
  position: relative;
  width: calc(100% - 110px);
  margin: 0px auto;
}

.slider {
  display: flex;
  align-items: center;
  height: 180px;
  position: relative;
  overflow: hidden;
}

.slider__gap--0 {
  gap: 0;
}

.slider__gap {
  gap: 0.5rem;
}

svg, path {
  transition: all 0.5s;
}

.slider__slide {
  position: relative;
  min-width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  box-sizing: border-box;

  > img {
    max-width: 200px;
    /*Var to set width img and .slider__slide*/
    transition: all 0.5s;
  }
  & svg {
    max-width: 200px;

    & path {
      fill: #ccc
    }
  }

  &:hover {
    > img {
      transform: scale(1.1);
      filter: invert(92%) sepia(20%) saturate(505%) hue-rotate(98deg) brightness(103%) contrast(94%);
    }

    > svg {
      transform: scale(1.1);
      
      & path {
        fill: #99f8e4
      }
    }
  }

  &:active,
  &:active:hover,
  &:focus,
  &:target {
    > img {
      transform: scale(1.0);
      filter: invert(35%) sepia(97%) saturate(6537%) hue-rotate(157deg) brightness(91%) contrast(83%);
    }
    > svg {
      transform: scale(1.0);
      & path {
        fill: #167e59
      }
    }
  }
}

.slider__slide {
  z-index: 0;
  transition: all 0.5s;
  text-decoration: none;

  .slider.slider__type--items-data & {
    .slide__container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      position: relative;
      padding: 1rem;
      border: 3px solid #929191;
      border-radius: 12px;
      color: #494949;
      background-color: #ccc;
      text-decoration: none;
      z-index: 0;
      transition: all .5s; /*scale .5s, border-color .5s, z-index .5s; /*z-index más tarde*/
    }

    & path {
      fill: #6299f3;
    }

    &:hover {
      z-index: 5;

      .slide__container {
        border-color:#0a5fec;
        scale: 1.2;
        z-index: 5;

        & path {
          fill: #0a5fec;
        }
      }
    }
  
    &:active,
    &:active:hover,
    &:focus,
    &:target {

      .slide__container{
        border-color:#0a5fec;
        scale: 1.0;

        & path {
          fill: #0a5fec;
        }
      }
    }
  }
}

.slide__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
  white-space: nowrap;

  & div {
    display: flex;
    align-items: baseline;
    gap: 0.2rem;
  }

  & p, & h4, & h6 {
    margin: 0;
  }
}

.slide__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    max-width: 45px;
    max-height: 45px;
  }
}

.slider__btn {
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.25s;

  &.slider__btn--next {
    right: -50px;
    z-index: 1;
  }

  &.slider__btn--prev {
    z-index: 1;
    left: -50px;
  }

  &:hover,
  &:active {
    transform: scale(1.1);
  }
}

.slider__btn {
  background-color: #58977d;
  border: 1px solid #164444;
}

.slider.slider__type--items-data {
  ~.slider__btn {
  background-color: #6299f3;
  border: 1px solid #0c3983;
  }
}
